td
{
	
	text-align: center;
}

 table 
{
	position: relative;
	top: -30px;
}

legend
{
	color:rgb(206,130,0);
}

#rowAddition
{
	color: rgb(62,128,208);
	height: 5px;
	border-bottom: 1px solid rgb(62,128,208); 
	position: absolute;
	
	top: 0px;
	left: 20px;

}

#circle
{
	border:1px solid rgb(62,128,208);
	padding: 1px;
	border-radius: 10px;
	position: absolute;
	left: -18px;
	top: -6px;
}

#carre
{
	height: 10px;
	width: 10px;
	border:1px solid rgb(62,128,208);
	position: absolute;
	right: -10px;
	bottom: -10px;
}

#additionZone
{
	
	position: absolute;
	bottom: -28px;
	height: 30px;
	left: 0px;
    color :white;
} 



#additionZone .fa 
{
    color: white;
}

.programm-form
{
	margin: auto;
	background-color:#f2f6f7;
	margin-top: 50px;
	margin-left: 10%;
	border-radius: 1%;
}

.submit-btn
{
	margin-right: 10px;
}

form
{
	background-color: white;
}