#wrapper {
  overflow-x: hidden;
}

.bg-bleu-light {
  background-color: rgb(54, 182, 253);
}

.bg-bleu-light a {
  color: rgb(235, 235, 235);
}

.list-group-item-action:hover a{
  color: black !important;
}

.collapse {
  list-style: none;
  padding-left: 20px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

}

.fa.fa-search {
  cursor: pointer;
}

.fa.fa-search:hover {
  color: white;
}


.module-item .titre {
  font-size: 20px;
}

.container-fluid {
  padding: 20px;
}


#navbarSupportedContent
{
  font-size: 25px;
}

#th-bar
{
  width: 50px;
  margin-top: 0px;
}

#go
{
  width:50px;
  margin-top: -3px;
  padding:0px;
}