.OneClass-header
{
    text-align: center;
    font-weight: 900;
    display: block;
    margin-bottom: 10px;
    border-bottom: black solid 1px;
    color: white;
}
.OneClassBtn
{
    padding: 1px;
}
.OneClass-footer
{
    margin-bottom: 10px;
    text-align: center;
    border-bottom: black solid 1px;
    color: white;
    font-weight: 900;
}
.OneClassBtn
{
    display: inline-block;
    
    /* margin-left: 3px; */
}
.OneClass
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: lightseagreen;
}

.OneClass-header:hover
{
    color: crimson;
    cursor: pointer;
    font-weight: 900;
}
/* .OneClassBtn-remove
{
    margin: auto;
    margin-top: 10px;
} */
.OneClass-footer:hover
{
    color: darkslategray;
    cursor: pointer;
    font-weight: 900;
}
.OneClass-ordre
{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: aquamarine; */
    border-radius: 3%;
    padding: 10px;
}

.AllClass
{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
   
}
.OneClass-ordre
{
    margin-top: 10px;
    margin-bottom: 10px;
    border: black solid 1px;
    box-shadow: 4px 4px 6px;
}
.pousse
{
    margin-left: 15%;
}

.OneClassBtn
{
    padding: 0px;
    font-size: 12px;
}
.OneClass-footer-daryl
{
    padding: 10px;
    background-color: #0069d9;
    border-color: #0062cc;
    border-radius: 10%;
}